.side-menu-item {
  transition: all 200ms ease-in;
}

.side-menu-item:hover {
  box-shadow: 3px 3px 8px #bbb;
}

.header-logo {
  width: 92.25px;
  height: 50px;
}

.header-logo img {
  width: 100%;
  height: 100%;
}

.header-wrap {
  display: flex;
  justify-content: space-between;
}

/* Globale Classes*/

.h-100 {
  height: 100%;
}

.w-100 {
  width: 100%;
}

.round {
  border-radius: 50%;
}
